* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
    sans-serif;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #585b5b;
}
#main {
  width: 100%;
  height: 71px;
  position: relative;
  background-color: silver;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.02);
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgb(247, 241, 229);
}
.logo img {
  height: 100px;
  width: 150px;
}
nav ul {
  display: flex;
}
nav ul li a {
  height: 40px;
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: poppins;
}

nav ul li a:hover {
  background-color: #2adabc;
  color: #fff;
  box-shadow: 5px 10px 30px rgba(64, 198, 196, 0.3);
  transition: all ease 0.2s;
}

.say {
  color: #39bfbd;
  font-weight: 1000;
  font-size: 2rem;
  border-bottom: 2px solid #40c6c4;
  transition: 0.5s;
}
/* about------------------------------ */
#profile {
  display: flex;
  width: 100%;
  height: 100vh;
  position: relative;
}
.bg {
  width: 100%;
  height: 100%;
}

.model {
  width: 200px;
  height: 250px;
  box-shadow: 0px 0px 20px black;
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 45%;
}
.model .pro {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.text {
  position: absolute;
  top: 43%;
  left: 39%;
}
.text h1 {
  font-size: 45px;
  color: black;
  font-family: "Pattaya", sans-serif;
}
.text span {
  color: #d02090;
}

.text h3 {
  font-style: italic;
  font-size: xx-large;
  font-weight: normal;
  line-height: 0px;
  color: black;
  font-family: "Pattaya", sans-serif;
}
.text hr {
  color: black;
  line-height: 0%;
}
.text p {
  font-size: 25px;
  text-align: center;
  font-style: italic;
  color: #eeee00;
}
/* my skills-------------------------- */
.skills {
  width: 100%;
  height: 700px;
  background-color: rgb(247, 241, 229);
  margin-top: -30px;
  position: relative;
}
.skill-text h4 {
  display: flex;
  color: limegreen;
  font-size: 25px;
  position: absolute;
  top: 5%;
  left: 35%;
  border-bottom: 2px solid lime;
}
.skill-text h2 {
  display: flex;
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 9%;
  left: 35%;
  bottom: 50px;
}
.skill-text p img {
  width: 50px;
  height: 50px;
}
.skill-text span {
  font-size: 25px;
  font-weight: lighter;
  font-family: impact;
  line-height: 28px;
}
.skill-text p {
  font-size: 18px;
  font-weight: lighter;
  margin: 0px auto;
  margin-top: 20px;
  background-color: rgb(243, 174, 161);
  width: 600px;
  text-align: right;
  box-shadow: 8px 10px 5px lightslategray;
  font-family: "Pattaya", sans-serif;
}
/* recent project------------------- */
.recent {
  width: 100%;
  height: 600px;
  position: relative;
  background-color: rgb(247, 241, 229);
}
.recent h3 {
  display: flex;
  color: limegreen;
  font-size: 25px;
  position: absolute;
  top: 2%;
  left: 15%;
  border-bottom: 2px solid lime;
}
.recent h1 {
  display: flex;
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 5%;
  left: 15%;
  bottom: 50px;
}
#work {
  width: 80%;
  height: 450px;
  position: absolute;
  bottom: 0px;
  left: 10%;
}
#work .recent-one {
  width: 30%;
  height: 350px;
  display: inline-block;
  margin-left: 42px;
  background-color: rgb(243, 174, 161);
  box-shadow: 0px 0px 15px black;
}
#work .recent-one img:hover {
  width: 105%;
  height: 370px;
}
#work .recent-one img {
  width: 100%;
  height: 350px;
  transition: 0.5s;
}
/* clint say------------------------- */
.clint {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: rgb(247, 241, 229);
}
.clint h3 {
  display: flex;
  color: limegreen;
  font-size: 25px;
  position: absolute;
  top: 2%;
  left: 45%;
  border-bottom: 2px solid lime;
}
.clint h1 {
  display: flex;
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  position: absolute;
  top: 5%;
  left: 42%;
  bottom: 50px;
}
.comments {
  width: 75%;
  height: 550px;
  position: absolute;
  bottom: 0%;
  left: 12%;
}
.comments .customer {
  width: 25%;
  height: 486px;
  display: inline-block;
  margin-left: 6%;
  position: relative;
  background-color: rgb(243, 174, 161);
  box-shadow: 0px 0px 15px gray;
  transition: 0.2s;
}
.comments .customer:hover {
  box-shadow: 0px 0px 25px black;
}
.comments .customer img {
  height: 180px;
  width: 130px;
  position: absolute;
  top: 10px;
  left: 33%;
  border-radius: 50%;
  box-shadow: 0px 0px 10px black;
}
.icon {
  position: absolute;
  top: 200px;
  left: 31%;
}
.icon .fas {
  color: gold;
  font-size: 25px;
}
.review {
}
.review h2 {
  position: absolute;
  top: 210px;
  left: 25%;
  font-family: impact;
  color: #434444;
  letter-spacing: 2px;
}
.review p {
  position: absolute;
  top: 250px;
  left: 0%;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  color: #585b5b;
}
.review button {
  position: absolute;
  top: 80%;
  left: 30%;
  letter-spacing: 1px;
  background-color: #39bfbd;
  color: rgb(247, 241, 229);
  box-shadow: 0px 0px 8px lightgrey;
  padding: 10px 15px;
  font-size: 18px;
  font-family: poppins;
}
.review button:hover {
  box-shadow: 0px 0px 10px gray;
  cursor: pointer;
}

/* -------contact us section------------  */
.contact {
  width: 100%;
  height: 1400px;
  background-color: rgb(247, 241, 229);
  position: relative;
  margin-top: -23px;
}
.contact h1 {
  position: absolute;
  top: 15px;
  left: 45%;
  font-size: 50px;
  font-family: impact;
  font-weight: normal;
  color: #39bfbd;
  border-bottom: 2px solid #40c6c4;
}
.contact p {
  width: 600px;
  text-align: center;
  font-family: "Pattaya", sans-serif;
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 120px;
  left: 35%;
  color: #585b5b;
}
.addrass {
  width: 530px;
  height: 650px;
  position: absolute;
  bottom: 30%;
  left: 20%;
}
.addrass .add-text .fas,
.far {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 50%;
}
.addrass .add-text {
  width: 100%;
  height: 30.333%;
  margin-bottom: 18px;
  color: black;
  position: relative;
  border-radius: 10%;
  background-color: rgb(241, 211, 205);
  box-shadow: 0px 0px 10px gray;
}
.addrass .add-text:hover {
  box-shadow: 0px 0px 10px black;
}
.addrass .add-text .fas,
.far {
  color: black;
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 48%;
}
.addrass .add-text strong {
  color: black;
  font-size: 35px;
  position: absolute;
  top: 30%;
  left: 43%;
  border-bottom: 3px solid gray;
}
.addrass .add-text p {
  color: #585b5b;
  font-size: 25px;
  position: absolute;
  top: 42%;
  left: -4%;
  text-align: center;
}
/* -----information-------=------- */

.information {
  width: 530px;
  height: 600px;
  position: absolute;
  right: 20%;
  bottom: 32%;
  background-color: rgb(241, 211, 205);
  box-shadow: 0px 0px 15px gray;
}
.information:hover {
  box-shadow: 0px 0px 15px black;
}
.information h4 {
  color: black;
  font-size: 35px;
  margin-left: 5%;
}
.information input {
  font-size: 25px;
  margin-left: 34px;
  margin-bottom: 30px;
  background-color: lightyellow;
  border-radius: 3%;
  padding: 30px 80px;
  outline: none;
}
.information button {
  background-color: rgb(243, 174, 161);
  padding: 20px 40px;
  font-size: 20px;
  font-family: poppins;
  margin-left: 35%;
  border-radius: 5%;
  box-shadow: 0px 0px 10px gray;
}
.information button:hover {
  box-shadow: 0px 0px 10px black;
  cursor: pointer;
}
/* -------fab instagram----------- */
.fav {
  width: 100%;
  height: 420px;
  position: absolute;
  bottom: 0px;
}
.fav h4 {
  font-size: 50px;
  font-weight: lighter;
  font-family: "Pattaya", sans-serif;
  text-align: center;
}
.fav .insta {
  width: 13%;
  height: 22%;
  position: absolute;
  bottom: 170px;
  left: 46%;
}
.fav .insta a {
  font-size: 60px;
  letter-spacing: 50px;
  text-align: center;
}
/* -----log in form-------------------- */
